body {
	background-color: #eee;
	font-family: Arial, Helvetica, sans-serif;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #333;
   color: white;
   padding: 5px;
   text-align: center;
}

.header {
	padding: 5px;
	text-align: center;
	background: #1abc9c;
	color: black;
	font-size: 20px;
	
}

.homecenter {
	text-align: center;
}



table {
	margin-left: auto;
	margin-right: auto;
}



img {
	margin-top: 2%; display : block;
	margin-left: auto;
	margin-right: auto;
	height: 10%;
	width: 10%;
	display: block;
}

.column { 
  width: 200px;
  padding: 10px;
  background:#3c3c3c;
  margin-bottom:5%;
}


.column h4 {
 text-align: center;
}

.column a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

.column a:hover {
  background-color: #1abc9c;
  color: black;

.marginealto {
	margin-top: 2%;
}