body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  margin: 0;
}

.header {	
	padding: 5px;
	text-align: center;
	background: #1abc9c;
	color: black;
	font-size: 20px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #1abc9c;
  color: white;
}

.column { 
  width: 200px;
  padding: 10px;
  background:#3c3c3c;
}

.column h4 {
 text-align: center;
}

.column a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

.column a:hover {
  background-color: #1abc9c;
  color: black;
}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
 
table.a {	
  table-layout: fixed;
  width: 100%;

}

table.a th,td {	
 text-align:center;
 border-bottom: 1px solid #333; 
}

table.b {	
  table-layout: fixed;
  width: 40%;

}

table.b th,td {	
 text-align:center;
 border-bottom: 1px solid #333; 
}

table.a td{
	width:33.33%;
}


.row {
  display: -webkit-flex;
  display: flex;
}


.columnrow {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
}

form.a {
    display: inline-block;
}

div.inline {
	display: inline-block;
	margin: 4px;
}

div.ptask {
	text-align:left;	
}

.button {
  border: none;
  color:  white;
  padding: 1px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #333;
}
.button:hover{
	color:  #1abc9c;
}

a.a {
    text-color: #1abc9c;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

a.a:visited {
  color: #1abc9c;
}

a.a:hover {
  color: #333;
}

a.w {
    text-color: #1abc9c;
    text-decoration: none;

}

a.w:visited {
  color: #1abc9c;
}

a.w:hover {
  color: #333;
}

input[type=text] {
  background-color: #eee;
  border: none;


}

input[type=text]:hover {
  background-color: #90f0cc;
  color: #333;
}

input[type=text]:focus {
  background-color: #90f0cc;
   color: #333;
}

input[type=password] {
  background-color: #eee;
  border: none;


}

input[type=password]:hover {
  background-color: #90f0cc;
  color: #333;
}

input[type=password]:focus {
  background-color: #90f0cc;
   color: #333;
}

.box1 {
background: rgb(238, 238, 238);
width:200px;
padding: 10px;
box-shadow: 5px 5px 10px 2px #333333;
-webkit-box-shadow: 5px 5px 10px 2px #333333;
-moz-box-shadow: 5px 5px 10px 2px #333333;

}

  table.center {
    margin-left:auto; 
    margin-right:auto;
  }
  
  .tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-up {
  top: -25px; /* Same as body margin top + border */
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.tip-down {
  bottom: -25px;
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-right {
  top: 10px;
  right: -25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;  
}

.dialogbox .body {
  position: relative;
  max-width: 300px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #ccc;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}
