<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link href="../static/css/bottomNav.css" th:href="@{/css/bottomNav.css}" rel="stylesheet" />
<title>Prova</title>
</head>
<body>
<footer th:fragment="footer">
<div class="navbar">
  <a href="/home" class="active">Home</a>
  <a href="projects">My Projects</a>
  <a href="projects/add">New Project</a>
  <a href="/tag/add">New Tag</a>
  <a href="/users/me">Profile</a>
  <a href="/logout">Logout</a>
</div>
</footer>
</body>
</html>