<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
<link href="../static/css/task.css" th:href="@{/css/task.css}"
	rel="stylesheet" />
	<title>TaskManager</title>
</head>
<body>
<div class="header">
<h1>Register new Project</h1>
</div>
<div align="center" style="margin-top:2%;">
<form id = "registerUserForm"
	th:action="@{/projects/add}"
	th:object="${projectForm}"
	method="POST">

	<table>
		<tr>
			<td><b><label for="projectNameInput">Project Name</label></b></td>
			<td><input id=projectNameInput type="text" placeholder="NAME" required th:field="*{name}"/></td>
			<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:style="'color:red'"></td>

		</tr>
		<tr>
			<td><b><label for="passwordInput">Description</label></b></td>
			<td><input id="passwordInput" type="text" placeholder="DESCRIPTION" th:field="*{description}"/></td>
			<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:style="'color:red'"></td>
		</tr>
		<tr>
			<td><button type="submit" class="button">Register</button></td>
		</tr>
	</table>
	</form>
	</div>
</body>
</html>