<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <link href="../static/css/task.css" th:href="@{/css/task.css}" rel="stylesheet" />
	<title>TaskManager</title>
</head>
<body>
<div class="header">
	<h1>Create a new tag</h1>
	</div>
	
	<div align="center" style="margin-top:2%">
	<form id="registerTagForm" th:action="@{'/tag/add'}"
		th:object="${tagForm}" method="POST">
		<table>
			<tr>
				<td><label for="tagNameInput">Tag Name</label></td>
				<td><input id=tagNameInput type="text" placeholder="NAME"
					th:field="*{nome}" /></td>
				<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"
					th:style="'color:red'"></td>
			</tr>

			<tr>
				<td><label for="tagDescriptionInput">Description</label></td>
				<td><input type="text" id="tagDescriptionInput" placeholder="DESCRIPTION"
					th:field="*{descrizione}" /></td>
				<td th:if="${#fields.hasErrors('descrizione')}"
					th:errors="*{descrizione}" th:style="'color:red'"></td>
			</tr>

			<tr>
				<td><label for="tagColorInput">Color</label></td>
				<td><select id="tagColorInput" th:field="*{colore}">
						<option id="option-1" value="white">Bianco</option>
						<option id="option-2" value="green">Verde</option>
						<option id="option-3" value="yellow">Giallo</option>
						<option id="option-4" value="blue">Rosso</option>
				</select></td>
			<tr>
				<td><button type="submit" class="button">Register</button></td>
			</tr>
		</table>
	</form>
	</div>
<footer th:insert="fragments/base.html :: footer" ></footer>
</body>
</html>