<!DOCTYPE html>
<html lang="it"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
<link href="../static/css/task.css" th:href="@{/css/task.css}"
	rel="stylesheet" />
	<title>TaskManager</title>
</head>
<body>

<div class="header">
<h1>Lista tag associati al progetto:</h1>
</div>

<div align="center" style="margin-top:2%;">
	<table class="a">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Colore</th>
				<th>Descrizione</th>
				<th>Aggiungi Tag</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each ="tag : ${projectTags}">
			
				<td th:text="${tag.nome}"></td>
				<td><span th:text="${tag.colore}" th:style="'color:'+${tag.colore}+';'"></span></td>
				<td th:text="${tag.descrizione}"></td>
				<td>
					<form method="POST" th:action="'/projects/'+${project.id}+'/task/manage/'+${task.id}+'/tag/add/'+${tag.id}">
					<button type="submit" name="submit" value="value" class="button">Select</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<a th:href="'/projects/'+${project.id}+'/task/manage/'+${task.id}" class="w">Torna indietro</a>
</div>
 <footer th:insert="fragments/base.html :: footer" ></footer>
</body>
</html>