<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TaskManager</title>
</head>
<body>
<h1>Add user Visibility</h1>
<div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each ="user : ${users}">
				<td th:text="${user.firstName}"></td>
				<td th:text="${user.lastName}"></td>
				<td>
					<form method="POST" th:action="@{'/projects/'+${project.id}+'/user/add/'+${user.id}}">
					<button type="submit" name="submit" value="value">Add</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</body>
</html>