<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <link href="../static/css/task.css" th:href="@{/css/task.css}" rel="stylesheet" />

	<title>TaskPage</title>
</head>
<body>
<div class="header">
<h1 th:text="${task.name}"></h1>
<h3 th:text="${task.description}"></h3>
</div>
<div align="center">
<h4 th:text="'Delegated to '+${task.user.firstName}+' '+${task.user.lastName}" style="color:gray"></h4>
</div>
<div align="center" th:if="${comments.size() > 0}">

	<h3>Comments: </h3>

<div  th:each= "comment: ${comments}" class="dialogbox">
<div class="body">
<span class="tip tip-up"></span>
<div class="message">
	<h5 th:text="${comment.user.firstName}+' '+${comment.user.lastName}+' '+${comment.creationTimestamp}"></h5>
	<span th:text="${comment.text}" ></span>
</div>
</div>	
</div>
</div>
<div align="center">
<form th:action="@{ '/projects/'+${project.id}+'/task/comment/'+${task.id}}" th:object="${commentForm}" method="POST">
<table>
		<tr>
			<td><label for="taskNameInput">Scrivi il commento: </label></td>
			<td><input id=taskCommentText type="text" placeholder="COMMENT" th:field="*{text}"/></td>
			<td th:if="${#fields.hasErrors('text')}" th:errors="*{text}" th:style="'color:red'"></td>
			<td><button type="submit">Gestisci</button></td>
		</tr>


</table>
</form>
</div>
<footer><h4><a th:href="'/projects/'+${project.id}">Torna al progetto</a></h4></footer> 
</body>
</html>