<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet" />
    <link href="../static/css/w3.css" th:href="@{/css/w3.css}" rel="stylesheet" />
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>TaskManager</title>
</head>
<body>
<div class="header">
<h1 th:text="'Welcome, ' + ${loggedUser.firstName} + '!'">Benvenuto</h1>
</div>

<img src="../static/images/cartella.png" th:src="@{/images/cartella.png}"/>
<br><br><br>
<div align="center">
<div class="column">
<a href="projects" >My projects</a>
<a href="projects/add" >Create new project</a>
<a href="/tag/add" >Create new tag</a>
<a href="/users/me" >Profile</a>
<a href="/logout" >Logout</a>
</div>
</div> 
<br><br>
<div class="footer">
  <p>Zoccanic Corporation</p>
</div>
</body>
</html>