<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet" />
    <link href="../static/css/w3.css" th:href="@{/css/w3.css}" rel="stylesheet" />
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>TaskManager</title>
</head>
<body>
<div class="header">
<h1 th:text="'Welcome, ' + ${loggedUser.firstName} + '!'">Benvenuto</h1>
</div>
<div class="homecenter">
<img src="../static/images/cartella.png" th:src="@{/images/cartella.png}"/>
<table>
<tr><td><h4><a href="projects" class="w3-button w3-green">My projects</a></h4> </td></tr>
<tr><td><h4><a href="projects/add" class="w3-button w3-green">Create new project</a></h4></td></tr>
<tr><td><h4><a href="/tag/add" class="w3-button w3-green">Create new tag</a></h4></td></tr>
<tr><td><h4><a href="/users/me" class="w3-button w3-green">Profile</a></h4></td></tr>
<tr><td><h4><a href="/logout" class="w3-button w3-green">Logout</a></h4></td></tr>
</table>
    </div>
    
<div class="footer">
  <p>Zockanic Corporation</p>
</div>
</body>
</html>