<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https//www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
    <link href="../static/css/w3.css" th:href="@{/css/w3.css}" rel="stylesheet" />
    <title>Gestore Progetti</title>
</head>
<body>
<div class="header">
    <h1>Benvenuto</h1></div>
    <img align="center" style="margin-top:2%;" th:src="@{/images/GestoreProgetti3.png}"/>
    <table>
<tr><td><h4><a href="/login" class="w3-button w3-green">Login</a></h4> </td>
	<td><h4><a href="/users/register" class="w3-button w3-green">Register</a></h4>
</tr>
</table>
    <div class="footer">
  <p>Zoccanic Corporation</p>
</div>
    </body>
</html>