<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>TaskManager</title>
</head>
<body>
<h1>My Projects</h1>
<div>
	<table>
		<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
		</thead>
		<tbody>
			<tr th:each="project : ${projectsList}">
				<td><a th:href="'/projects/' + ${project.id}" th:text="${project.name}">...</a></td>
				<td th:text="${project.description}">...</td>
			</tr>
		</tbody>
	</table>
</div>
<div th:if="${projectsShare.size() > 0}">
<h2>Shared With You</h2>
<table>
		<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
		</thead>
		<tbody>
			
				<tr th:each="proj : ${projectsShare}">
				<td><a th:href="'/projects/' + ${proj.id}" th:text="${proj.name}">...</a></td>
				<td th:text="${proj.description}">...</td>
			</tr>
		</tbody>
	</table>
	</div>
	<a href="/home">Torna alla home</a>
</body>
</html>