<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <link href="../static/css/task.css" th:href="@{/css/task.css}" rel="stylesheet" />
	<title>TaskManager</title>
</head>
<body>


<div class="header">
<h1 th:text="'•Task: '+${task.name}"></h1>
</div>
<div align="center">
<h5>• Description:</h5>
<i th:text="'- '+${task.description}"></i>
<br>
<h6 th:text="'Owned by ' +${project.owner.firstName} + ' ' + ${project.owner.lastName}"></h6>
<h3 th:text="'Delegated to '+${task.user.firstName}+' '+${task.user.lastName}"></h3>
</div>

<div align="center">
<div class="column" >
<h4><a th:href="'/projects/'+${project.id}+'/task/update/'+${task.id}">Aggiorna task</a></h4>
<h4><a th:href="'/projects/'+${project.id}+'/task/manage/'+${task.id}+'/tag/add'">Aggiungi un tag</a></h4>
<h4><a th:href="'/projects/'+${project.id}+'/task/del/'+${task.id}">Cancella task</a></h4>
<h4><a th:href="'/projects/'+${project.id}">Torna al progetto</a></h4>
</div>
</div>
<div >
<footer th:insert="fragments/base.html :: footer" ></footer>
</div>
</body>
</html>
