<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <link href="../static/css/task.css" th:href="@{/css/task.css}" rel="stylesheet" />
	<title>TaskManager</title>
</head>
<body>
<div class="header">
<h1>Update your Task</h1>
</div>

<div align="center" style="margin-top:2%">
<form id = "updateTaskForm"
	th:action="@{'/projects/'+${project.id}+'/task/update/'+${task.id}}"
	method="POST"
	th:object="${task}">

	<table>
		<tr>
			<td><label for="taskNameInput">Name:*</label></td>
			<td><input id="taskNameInput" type="text" th:field="*{name}"/></td>

		</tr>
		<tr>
			<td><label for="taskDescriptionInput">Description:*</label></td>
			<td><input id="taskDescriptionInput" type="text" th:field="*{description}"/></td>
		</tr>
		
		<tr>
			<td><label for="taskStatusInput">Status:</label></td>
			<td>
       		<select th:field="*{completed}">
       		<option th:value="0" >In Progress</option>
            <option th:value="1">Completed</option>
            </select>
        </td>
		</tr>

		<tr>
			<td><button type="submit" class="button">Update</button></td>
		</tr>
	</table>
	</form>
	<h6>Empty (or invalid) fields will be ignored*</h6>
<br>
<a th:href="'/projects/'+${project.id}+'/task/manage/'+${task.id}" class="w">Torna indietro</a>
</div>
<footer th:insert="fragments/base.html :: footer" ></footer>
</body>
</html>